@use "../globals/variables.scss";

@mixin bp($point) {
  @if $point == xs-min {
    @media only screen and (min-width: #{variables.$bp-xs-min}) {
      @content;
    }
  }
  @else if $point == sm-min {
    @media only screen and (min-width: #{variables.$bp-sm-min}) {
      @content;
    }
  }
  @else if $point == md-min {
    @media only screen and (min-width: #{variables.$bp-md-min}) {
      @content;
    }
  }
  @else if $point == lg-min {
    @media only screen and (min-width: #{variables.$bp-lg-min}) {
      @content;
    }
  }
  @else if $point == xl-min {
    @media only screen and (min-width: #{variables.$bp-xl-min}) {
      @content;
    }
  }
}