@mixin bp($point) {
  @if $point == xxs {
    @media only screen and (max-width: #{$bp-xs-min - 1}) {
      @content;
    }
  }
  @else if $point == xs-min {
    @media only screen and (min-width: #{$bp-xs-min}) {
      @content;
    }
  }
  @else if $point == sm-min {
    @media only screen and (min-width: #{$bp-sm-min}) {
      @content;
    }
  }
  @else if $point == md-min {
    @media only screen and (min-width: #{$bp-md-min}) {
      @content;
    }
  }
  @else if $point == lg-min {
    @media only screen and (min-width: #{$bp-lg-min}) {
      @content;
    }
  }
  @else if $point == xl-min {
    @media only screen and (min-width: #{$bp-xl-min}) {
      @content;
    }
  }
}