@use 'globals.scss';

html {
  color: globals.$c-text;
  background: globals.$c-background;
  font-size: globals.$font-size-base;
  line-height: globals.$line-height-base;
  font-family: globals.$font-family-base;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}