@use 'globals.scss';

.text-base {
  font-size: globals.$font-size-base;
  line-height: globals.$line-height-base;
}

h1,
.h1 {
  font-size: globals.$font-size-h1;
  line-height: globals.$line-height-h1;
}

h2,
.h2 {
  font-size: globals.$font-size-h2;
  line-height: globals.$line-height-h2;
}

h3,
.h3 {
  font-size: globals.$font-size-h3;
  line-height: globals.$line-height-h3;
}

h4,
.h4 {
  font-size: globals.$font-size-h4;
  line-height: globals.$line-height-h4;
}