$bp-xs-min: 360px;
$bp-sm-min: 600px;
$bp-md-min: 800px;
$bp-lg-min: 1024px;
$bp-xl-min: 1288px;

$font-family-base: Arial, Helvetica, sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-base: 14px;
$line-height-base: 16px;

$font-size-h1: 32px;
$line-height-h1: 40px;

$font-size-h2: 28px;
$line-height-h2: 36px;

$font-size-h3: 22px;
$line-height-h3: 28px;

$font-size-h4: 18px;
$line-height-h4: 24px;