@use 'sass:map';
@use 'sass:math';
@use '../../globals/globals.scss';

$grid-gutter: (
  xs: 16px,
  sm: 16px,
  md: 24px,
  lg: 24px,
  xl: 24px,
);

$grid-margin: (
  xs: 16px,
  sm: 20px,
  md: 28px,
  lg: 32px,
  xl: 32px,
);

$grid-cols: (
  xs: 4,
  sm: 6,
  md: 6,
  lg: 12,
  xl: 12,
);

$grid-width: (
  xs: 360px,
  sm: 600px,
  md: 800px,
  lg: 1024px,
  xl: 1288px,
);

.grid {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.grid-col {
  order: 0;
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

@mixin make-cols($size) {
  .grid {
    width: map.get($grid-width, $size);
    padding: 0 ((map.get($grid-margin, $size)) - map.get($grid-gutter, $size) * .5);
  }

  .grid-col {
    padding-right: (map.get($grid-gutter, $size)) * .5;
    padding-left: (map.get($grid-gutter, $size)) * .5;
    margin-bottom: (map.get($grid-gutter, $size));
  }

  @for $i from 1 through map.get($grid-cols, $size) {
    .grid-col--#{$size}-#{$i} {
      flex-basis: math.div(100%, map.get($grid-cols, $size)) * $i;
      max-width: math.div(100%, map.get($grid-cols, $size)) * $i;
    }
  }
}

@include make-cols(xs);

@include globals.bp(sm-min) {
  @include make-cols(sm);
}

@include globals.bp(md-min) {
  @include make-cols(md);
}

@include globals.bp(lg-min) {
  @include make-cols(lg);
}

@include globals.bp(xl-min) {
  @include make-cols(xl);
}